body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}

h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#btns{
    text-align: center;
}

button{
    margin: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: large;
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
    transition: background-color 150ms ease-in;
}
button:hover{
    background-color: rgb(255, 51, 0);
}

#score, #choice, #result{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}